In [7]:
import pandas as pd

In [8]:
jobs_translated = pd.read_csv('jobs_translated.csv')

In [9]:
jobs_translated['Education Requirements'].value_counts()

Education Requirements
Above University                                                        14970
University and master's degree                                          11983
Specialty ABove                                                          9689
College, University, Master's Degree                                     7157
University                                                               2866
Informal                                                                 2746
Above a master's degree                                                  2713
College, university                                                      2705
ABove High School                                                        1311
master                                                                   1200
High school, college, university                                          475
High school, college, university, master's degere                         397
Specialty                                                                 284
PHD                                                                       100
Not specified                                                              75
Below high school, high school, college, university                        42
Below high school, high school, college, university, master's degree       40
high school                                                                26
High school, spiecilty                                                     26
High school, university, master's degree, doctral doctor                    8
Below high school, high school                                              8
College, Master's Degree, DOCTOR                                            3
University, doctor                                                          3
College, Master's Degree                                                    2
High school, university, master's degree                                    1
College, university, doctorate                                              1
High School, University                                                     1
Below high school                                                           1
Name: count, dtype: int64

In [10]:
my_list = list(jobs_translated['Education Requirements'].unique())
education_replacement = dict(zip(my_list, range(len(my_list))))
print(education_replacement)

{'Above University': 0, "University and master's degree": 1, "College, University, Master's Degree": 2, 'Specialty ABove': 3, 'College, university': 4, 'Informal': 5, "Above a master's degree": 6, 'master': 7, 'ABove High School': 8, 'University': 9, 'high school': 10, 'High school, college, university': 11, "High school, college, university, master's degere": 12, 'Specialty': 13, 'Not specified': 14, 'PHD': 15, "College, Master's Degree": 16, 'Below high school, high school, college, university': 17, "Below high school, high school, college, university, master's degree": 18, "College, Master's Degree, DOCTOR": 19, "High school, university, master's degree, doctral doctor": 20, 'High school, spiecilty': 21, "High school, university, master's degree": 22, 'Below high school, high school': 23, 'University, doctor': 24, 'College, university, doctorate': 25, 'High School, University': 26, 'Below high school': 27}

In [11]:
high = "Highschool, Technical school, Undergraduate, Master's, PhD"
tech = "Technical school, Undergraduate, Master's, PhD"
uni = "Undergraduate, Master's, PhD"
master = "Master's, PhD"
phd = "PhD"

education_replacement = {
    "Above University": uni,
    "University and master's degree": uni,
    "College, University, Master's Degree": tech,
    "Specialty ABove": tech,
    "College, university": tech,
    "Informal": 'Not specified',
    "Above a master's degree": master,
    "master": master,
    "ABove High School": high,
    "University": uni,
    "high school": high,
    "High school, college, university": high,
    "High school, college, university, master's degere": high,
    "Specialty": tech,
    "Not specified": 'Not specified',
    "PHD": phd,
    "College, Master's Degree": tech,
    "Below high school, high school, college, university": high,
    "Below high school, high school, college, university, master's degree": high,
    "College, Master's Degree, DOCTOR": tech,
    "High school, university, master's degree, doctral doctor": high,
    "High school, spiecilty":  high,
    "High school, university, master's degree": high,
    "Below high school, high school": high,
    "University, doctor": uni,
    "College, university, doctorate": tech,
    "High School, University": high,
    "Below high school": high,
}

In [12]:
jobs_translated['Education Requirements'] = jobs_translated['Education Requirements'].replace(education_replacement)

In [13]:
jobs_translated['Education Requirements'].value_counts()

Education Requirements
Undergraduate, Master's, PhD                                  29822
Technical school, Undergraduate, Master's, PhD                19841
Master's, PhD                                                  3913
Not specified                                                  2821
Highschool, Technical school, Undergraduate, Master's, PhD     2336
PhD                                                             100
Name: count, dtype: int64

In [15]:
jobs_translated['Working Experience'].unique()

array(['over 3 years', 'Informal', 'More than 5 years',
       'More than 10 years', 'More than 6 years', 'For more than 2 years',
       'More than 1 year', 'For more than 4 years', 'More than 8 years',
       'More than 7 years', 'Not specified', 'For more than 9 years'],
      dtype=object)

In [16]:
exp_replace = {
    "over 3 years": 3,
    "Informal": 0,
    "More than 5 years": 5,
    "More than 10 years": 10,
    "More than 6 years": 6,
    "For more than 2 years": 2,
    "More than 1 year": 1,
    "For more than 4 years": 4,
    "More than 8 years": 8,
    "More than 7 years": 7,
    "Not specified": 0,
    "For more than 9 years": 9,
}

In [17]:
jobs_translated['Working Experience (in Years)'] = jobs_translated['Working Experience'].replace(exp_replace)

C:\Users\faust\AppData\Local\Temp\ipykernel_19432\3425865732.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  jobs_translated['Working Experience (in Years)'] = jobs_translated['Working Experience'].replace(exp_replace)

In [28]:
jobbencount = jobs_translated['Company Name'].value_counts().reset_index()['count'] 
jobbencount[jobbencount > 200]

0     653
1     425
2     391
3     368
4     288
5     262
6     245
7     226
8     209
9     205
10    204
11    202
Name: count, dtype: int64

In [19]:
jobs_translated.to_csv('jobs_translated_edufix.csv', index=False)
jobs_translated.to_csv('basic-navigation/jobs_app_1.csv', index=False)